# prevent access to git
RewriteRule ^(.*/)?\.git+ - [F,L]
RewriteRule /?\deployhq.log$ - [F,L]
RedirectMatch 404 /\.git
RedirectMatch 404 /*.sql
RedirectMatch 404 /Gruntfile.js
RedirectMatch 404 /package.json
RedirectMatch 404 /node_modules
